
body{

    font-family: 'Poppins', sans-serif;
}
main {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
#searchTitle{
margin-right: 1em;
}

.dropdown_button {
    background-color: #E0A000;
    color: white;
    padding:  0.25em 1em;
    border-radius: .3em;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 10em;
    border: 1px solid #ffffff;
}

.courses {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 10em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.courses li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    list-style: none;
    background-color: #00999D;
    border: 1px solid white;
    border-radius: .3em;
}

.courses li a {
    text-decoration: none;
    color: white;
    display: block;
    /* padding: 10px; */
}

.courses li:hover {
    background-color: #E0A000;
    color: white;
}


#results {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-left: 10em;
    padding-top: 1em; */

}
/* p {
    padding-left: 2em
} */

.official-card{
    display: flex;
    height: 85px;
    width: 30em;
    justify-content: space-between;
    border: 1px solid black;
    margin-top: 6%;
    padding: 20px;
    border-radius: .5em;
}

.repPhoto{
    height: 100%;
    width: 100px;
}




  #emailBtn{
    height: 50px;
    width: 50px;
  }
  #twitterBtn {
    height: 50px;
    width: 50px;
  }

  /*Search Bar*/
  form {
    width: 50%;
    margin: 0;

  }
  #addressInput {
    width: 40em;
    height: 2em;
  }

  #searchButton {
 
    background-color: #E0A000;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: .5em;
    height: 2.5em;
    width: 10em;
  }

  #btncon {
    display:flex;
    justify-content: end;
  }
  p{
     margin: 0;
  }

  #number {
    display: flex;
    flex-direction: column;
    align-items: center;
}